<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        resolveDependencies="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        cacheResult="false"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_MODE" value="test"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>